/* Image Slider */
.carousel img {
    height: auto;
    margin-top: 0% !important;
}

.navbar-nav{
    display: -webkit-inline-box;
}

.dropdown-menu{
    position: absolute !important;
}

.show_password{
    margin: 0px !important;
    border: 1px solid #e0dbdb!important;
}

.emailaddress{
    margin: 0px !important;
    border: 1px solid #e0dbdb!important;
}