/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #myCarousel .carousel-caption .bnr-cnt h1{font-size: 70px;}
    #myCarousel .carousel-caption .bnr-cnt h3{font-size: 26px;}
    #myCarousel .carousel-caption .bnr-cnt h4{font-size: 16px;}
    #myCarousel .carousel-caption .bnr-cnt p{font-size: 16px;}
    #myCarousel .bnr-cnt {max-width: 383px;}
    .sticky-container{top:130px;}
    .innerSlider .item img{min-height: auto;}
    .innerSlider .carousel-caption{top: 20px;}
    .innerSlider h2{font-size: 30px;}
    .innerSlider h5{font-size: 23px;}
    .supportBlog li{width: 45%;}
    .videoweek iframe{height: 204px;}
    .resImg{width: 28%;}
    .resTxt{width: 69%;}
    
}
@media only screen and (max-width : 1199px) {
/* -------04-01-2018------ */
    .bithomegrid .vc_gitem-zone-c{ width: auto;}
    .lst-cate li{width: 25%; min-height: 32px;}
    .nav>li>a{ padding: 10px 12px!important;}
    .bit_tax_course .vc_grid-item-mini{ width: 20%;}
    .bit_item-list li.course_single_item{ width: 33%!important;}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    #item-header-content h1{ font-size: 30px!important;}
    .content.bit_tax_course{ margin: 0!important;}
    .bit_tax_course .vc_gitem-zone{ height: 205px;}
    .bit_tax_course .vc_grid-item-mini{ width: 33.333%;}
    header nav{ display: block!important;}
    .headerWide .navbar-nav > li > a, .wpml-ls-legacy-list-vertical a{ font-size: 14px; padding: 5px!important; margin: 0;} 
    .container .vc_custom_1525327714591{ padding-top: 20px!important;}
    .course-cate{ padding-right: 44px; overflow: hidden;}
    .course-cate a{ font-size: 16px;}
    .regdForm .btn-login:after{ border-bottom: 41px solid transparent;}
    .content {margin-top: -20px; padding-top: 30px;}
    .paddLFT60 {padding: 0 30px;}
    .paddLFT60 h2 {font-size: 22px; margin-bottom: 15px;}
    .Loginfrm .form-control {height: 40px; padding: 6px 12px; font-size: 15px;}
    .btniptsty {width: 40px; height: 40px; font-size: 14px;}
    .forgot-passwordTxt {font-size: 15px;}
    .Loginfrm .form-group, .Loginfrm .input-group {margin-bottom: 15px;}
    .btn-login {height: 40px; width: 150px; font-size: 15px;}
    .btn-login:after{border-bottom-width: 40px;}
    .btn-register {height: 40px; font-size: 14px;}
    .bottombody {margin-top: 50px; padding: 55px 0;}
    .bottombody h2 {font-size: 20px; line-height: 27px; margin-bottom: 17px;}
    .bottombody p{font-size: 15px;}
    .footerWide {padding: 40px 0;}
    .footerMenu li a {font-size: 15px;}
    .footer p{font-size: 15px;}
    .footerMenu {margin: 12px 0;}
    .social-ft a {width: 36px; height: 36px; background-size: 36px;}
    .header .bootstrap-select>.btn{font-size: 14px;}
    #myCarousel .carousel-caption .bnr-cnt h1{font-size: 53px;}
    #myCarousel .carousel-caption .bnr-cnt h3{font-size: 22px;}
    #myCarousel .carousel-caption .bnr-cnt h4{font-size: 13px; text-align: left;}
    #myCarousel .carousel-caption .bnr-cnt p{font-size: 13px;}
    #myCarousel .bnr-cnt a.btnsd {height: 30px; line-height: 30px; width: 112px; font-size: 13px;}
    #myCarousel .bnr-cnt a.btnsd:after{height: 30px;}
    #myCarousel .bnr-cnt {max-width: 320px;}
    #myCarousel .carousel-caption {padding-bottom: 20px;}
    #myCarousel .carousel-indicators {bottom: 30px;}
    .sticky-container{top:95px;}
    .innerSlider .carousel-caption{top: 0px;}
    .innerSlider h2{font-size: 25px;}
    .innerSlider h5{font-size: 20px; padding-top: 5px;}
    .supportBlog li{width: 46%; margin: 0 2% 20px 2%;}
    .supportBlog{margin-left: -2%; margin-right: -2%;}
    .videoweek, .currentEvnt{margin-bottom: 20px;}
    .supportBlog{margin: 0;}
    
    /*****************17.08.2018******************/
/*    .lst-cate li{width:33.33333%;}*/
    .lst-cate li{width:33%;}
    .frm-mainBlock .frm-block1,
    .frm-mainBlock .frm-block2, 
    .frm-mainBlock .frm-block3{width: 25%;}
    .vibe_vibe_product .field_wrapper a.more{ margin-bottom: 10px; font-size: 14px!important;}
    .unit_prevnext #prev_unit span{ display: none;}
    .unit_prevnext #next_unit span{ display: none;}
    .bit_item-list li.course_single_item{ width: 50%!important;}

}
@media only screen and (min-width : 768px) {
    .headerWide .navbar-nav > li:hover ul.dropdown-menu{display: block;}
    .headerWide .navbar-nav > li:hover > a{ background-color: #880b17!important; color: #fff!important; transform: inherit;}
    .vc_pageable-slide-wrapper .vc_grid-item{ float: left!important;}
    .headerWide .navbar-nav > li:hover > a img { background-color: #fff; border-radius: 100px; padding: 1px;}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .switch_view .grid_list_wrapper{ margin-top: 0!important;}
    .quiz_next .create-group-button{ margin: 0 0 5px 10px!important;}
    .data_stats{ top: -22px!important;}
    #unit_content .data_stats{ top: 126px!important;}
    .pagetitle h1{ font-size: 30px;}
    .navbar-default .navbar-toggle .icon-bar{ background-color: #fff!important;}
    .headerWide .navbar-collapse {
        /* ---23-12--- */
/*
    background-color: #0e0e0e;
    box-shadow: 0 0 8px #0e0e0e;
*/
    background-color: #880b17;
    box-shadow: 0 0 4px #880b17;
    }
    .headerWide .navbar-nav > li > a, .headerWide .navbar-nav > li > a, .wpml-ls-legacy-list-vertical a{  color: #fff!important;}
    .headerWide .navbar-nav > li > a img{ background-color: #fff; border-radius: 100px; padding: 1px;}
    
    .navbar-brand{display: block;}
/*    .logo a {width: 125px;}*/
    .content {margin-top: -15px; padding-top: 25px;}
    .paddLFT60 h2 {font-size: 20px;}
    .Loginfrm .form-control {font-size: 14px;}  
    .btniptsty {font-size: 13px;}
    .forgot-passwordTxt {font-size: 14px;}
    .Loginfrm .form-group, .Loginfrm .input-group {margin-bottom: 12px;}
    .btn-login {width: 120px;} 
    .borleft{border-left: 0;  margin-top: 30px;}
    .twitterFeed {height: 310px;}
    .bottombody {margin-top: 35px; padding: 35px 0; background-size: 10px;}
    .bottombody h2 {font-size: 18px; line-height: 24px; margin-bottom: 13px;}
    .bottombody p{font-size: 14px;}
    .footerWide {padding: 35px 0;}
    .footerMenu li a {font-size: 14px;}
    .footer p{font-size: 14px;}
    .footerMenu {margin: 10px 0;}
    .social-ft a {width: 30px; height: 30px; background-size: 30px;}
    .footerMenu li:after{height: 11px;}
    #myCarousel .carousel-caption .bnr-cnt h1{font-size: 38px; letter-spacing: 3px;}
    #myCarousel .carousel-caption .bnr-cnt h3{font-size: 15px; letter-spacing: 3px;}
    #myCarousel .carousel-caption .bnr-cnt h4{font-size: 10px; letter-spacing: 3px;}
    #myCarousel .carousel-caption .bnr-cnt p{font-size: 10px; margin-top: 5px; letter-spacing: 3px;}
    #myCarousel .bnr-cnt a.btnsd {height: 20px; line-height: 20px; width: 80px; font-size: 11px;}
    #myCarousel .bnr-cnt a.btnsd:after{height: 20px;}
    #myCarousel .carousel-caption {padding-bottom: 10px;}
    #myCarousel .carousel-indicators {bottom: 20px;}
    #myCarousel .carousel-indicators li {width: 10px; height: 10px;}
    .sticky-container{display: none;}
    .headerWide .navbar-toggle, .headerWide .navbar-toggle:hover, .headerWide .navbar-toggle:focus{ margin-top: 2px; border: none; background-color: #006cb7; margin-bottom: -2px; }
    .headerWide .navbar-toggle .icon-bar{background-color: #fff;}
    .headerWide .navbar-collapse{right: 15px; position: absolute; z-index: 999; width: 150px; border: 0; }
    .headerWide .navbar-nav > li > a{color: #fff;}
    .headerWide .navbar-nav > li > a:hover{/*background-color: #333;*/ color: #fff;}
    .headerWide .navbar-nav > li > a:hover, .headerWide .navbar-nav > li > a:focus{
        /* ---23-12--- */
        color: #fff!important;
    }
    .supportBlog h5{font-size: 18px;}
    .dealerResourses ul li{width: 94%; min-height: auto;}
    .resImg{width: 15%;}
    .resTxt{width: 84%;}
    .navbar-nav .open .dropdown-menu{color: #fff; background-color: #2c86e0; width: 100%;min-width: 100%;}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #fff;}
    
    /*****************17.08.2018******************/
    .lst-cate li{width:47%; float: none; display: inline-block; margin: 5px;}
    .frm-mainBlock .frm-block1,
    .frm-mainBlock .frm-block2, 
    .frm-mainBlock .frm-block3{width: 100%;}
    .tabWrapper{padding: 20px;}
    .tabWrapper h2 {font-size: 22px; margin-bottom: 18px;}
    .tab-top-hdr h3{font-size: 18px; margin-bottom: 15px;}
    .tab-top-hdr{display: block;}
    .btniu{margin-left: 0;}
    .dtls-lstItm {padding: 12px 15px;}
    .dtls-lstItm li {font-size: 14px; margin-right: 3px; margin-top: 4px; margin-bottom: 4px; padding-right: 6px;}
    .description-lst h3 {font-size: 18px;}
    .description-lst p{font-size: 15px;}
    .table-downoadOption.table > tbody > tr > th, .table-downoadOption.table > tbody > tr > td{font-size: 15px;}
    .btndnld {height: auto; padding: 10px 15px; font-size: 15px; margin: 25px 0;}
     .warntxt{font-size: 15px;}
    .lst-itm-blk span{padding: 10px; font-size: 14px;}
    
    
    /* -------04-01-2018------ */
    .bithomegrid .vc_gitem-zone-c{width: 79%; float: right;}
    .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{ padding-right: 0;}
    .unit_prevnext a#mark-complete{font-size: 9px; padding: 10px 5px;}
    
}
@media only screen and (max-width : 600px) {
    .bp-user.p4 #item-body .item-list-tabs#subnav ul li{ width: 100%!important; margin-bottom: 5px;}
    #buddypress .item-list-tabs .dir-search, #buddypress .item-list-tabs ul li select{ width: 100%;}
    .bp-user.p4 #item-body .item-list-tabs#subnav ul li.last{ float: left!important;}
    .course #course-list{ margin: 0!important;}
    .logo img{ max-width: 189px;}
    .bit_tax_course .vc_grid-item-mini{ width: 49.333%;}
    .wpb_wrapper h2{ font-size: 31px!important;}
    /* -------04-01-2018------ */
    .bithomegrid .vc_gitem-zone-c{width: 100%; float: left;}
    .vc_gitem_row .vc_gitem-col{padding-left: 0!important;}
    .bithomegrid .vc_gitem-zone-c .vc_gitem_row{width: auto;}
    .bithomegrid .vc_gitem-zone-c .vc_gitem_row .vc_btn3-container{position: static;}
    .vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item{padding-right: 0!important;}
    .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper{margin-right: 0!important;}
     #whats-new-options input[type=submit], #whats-new-options a.button, #whats-new-options select{ width: 100%!important; margin:0 0 10px 0!important; text-align: center;}
    #buddypress form#whats-new-form #whats-new-submit{ width: 100%; margin-right: 0!important;}
    .course.submissions.single-course .tab-content .submissions_form select{ width: 100%; margin-top: 10px;}
    .course.submissions.single-course .tab-content .submissions_form #fetch_quiz_submissions{ margin-right:0; display: block; text-align: center;}
    .course.submissions.single-course .tab-content .submissions_form{ padding: 15px!important;}
    .bit_item-list li.course_single_item{ width: 100%!important;}
	
	/* 29-11-2019 */

    #certificate h1 {
        font-size: 9px !important;
        margin-top: -50px;
    }

    .mfp-container {
        padding-left: 22px !important;
        padding-right: 42px !important;
    }

    #certificate h4 {
        font-size: 7px !important;
    }
    
    #certificate h3 {
        font-size: 6px !important;
    }

    #certificate h2 {
        font-size: 7px !important;
    }

    .wpb_wrapper p iframe {
        width: 315px !important;
    }

    /* 29-11-2019 */

    /* 03-12-2019 */
    
}
@media only screen and (max-width : 550px) {
    .regdFormBase, .regdFormBase2{flex-wrap: wrap;}
    .regdFormBase .input-group{width: 98%;}
    .regdForm{padding: 15px;}
    .regdForm p{width: 100%;}
    .radio-inline, .checkbox-inline{padding-left: 0; padding-right: 15px;}   
   
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
    #whats-new-options #whats-new-submit{ margin-right: 0!important; width: 100%;}
    .bit_tax_course .vc_grid-item-mini{ width: 100%; margin-bottom: 20px;}
    .bit_tax_course .vc_gitem-zone{ height: auto;}    
   .bottombody h2 {font-size: 14px; line-height: 22px;}
   .paddLFT60 h2 {font-size: 18px;}
    #myCarousel .carousel-caption .bnr-cnt h1{font-size: 18px; margin: 3px 0; letter-spacing: 1px;}
    #myCarousel .carousel-caption .bnr-cnt h3{font-size: 10px; letter-spacing: 1px;}
    #myCarousel .carousel-caption .bnr-cnt h4{font-size: 10px; letter-spacing: 1px;}
    #myCarousel .carousel-caption .bnr-cnt p{font-size: 10px; margin-top: 3px; letter-spacing: 1px;}
    #myCarousel .bnr-cnt a.btnsd {height: 16px; line-height: 16px; width: 60px; font-size: 10px;}
    #myCarousel .bnr-cnt a.btnsd:after{height: 16px;}
    #myCarousel .carousel-caption {padding-bottom: 0;}
    #myCarousel .carousel-indicators {bottom: -10px; z-index: 3;}
    .header .bootstrap-select>.btn {font-size: 13px;}
     #myCarousel .carousel-indicators li {width: 8px; height: 8px;}
    .innerSlider h2{font-size: 16px;}
    .innerSlider h5{font-size: 13px;}
    .innerSlider .item img{min-height: 100px;}
    .supportBlog{  margin-left: 0; margin-right: 0;}
    .supportBlog li{ width: 100%; margin-left: 0; margin-right: 0;}
    .featuredBox ul li img, .bulletinBox ul li img{width: 100%; margin-right: 0; margin-bottom: 20px;}
    .resImg{width: 22%;}
    .resTxt{width: 77%;}
    
    
     /* -------04-01-2018------ */
    .bithomegrid .vc_gitem-zone-a{width: 100%;}
    .lst-cate li{width: 100%;}
    .course-cate{ padding-right: 0;}
    .course-cate a{ padding: 15px 14px;}
    #course_user_ajax_search_results select{ width: 100%; margin-top: 10px;}
    #course_user_ajax_search_results #search_course_member input[type=text]{ width: 100%; margin:10px 0!important;}
    .course_students ul{ display: inline-block; width: 100%; position: inherit!important; text-align: center;}
    .course_students ul li{ float: none!important;}
    .field_wrapper .button.insert-media.add_media, .field_wrapper a.thickbox{ width: 100%; margin: 0 0 10px 0; text-align: center;}
    #change_product{ margin-top: 52px;}
    .course_pricing #change_product .field_wrapper{ padding: 0;}
    .switch-label{ width: 98px!important;}
    .main_unit_content table td{width: 100%; float: left;}
    .field_wrapper input[type=text]{ width: 100%;}
    .field_wrapper .right{ width: 100%;}
    .field_wrapper .upload_button{ margin-top: 15px;}
    
}
@media only screen and (max-width : 460px) {
    .course_content_panel .unit_wrap .unit_content .unit_prevnext{ position: fixed; bottom: 0!important; top: inherit; width: 87%!important; background-color: #fff;}
   .unit_prevnext a#mark-complete{ margin: 0 auto;}
    .course_content_panel .unit_wrap a:after{width: 32px!important;}
}
@media only screen and (max-width : 360px) {    
    .resImg{width: 100%; text-align: center; margin-bottom: 10px;}
    .resTxt{width: 100%; text-align: center;}
    .dealerResourses ul li{border-bottom: 1px solid #eee; padding-bottom: 20px;}
    #course_user_ajax_search_results select, #course_user_ajax_search_results input[type=text]{ width: 100%; margin-bottom: 10px; margin-left: 0!important;}
    .submissions_form select{ width: 100%; margin-bottom: 10px;}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
.innerSlider .item img{min-height: 80px;}
    .innerSlider h2{font-size: 15px;}
    .innerSlider h5{font-size: 12px;}
	
	 /* 03-12-2019 */

    .course_curriculum .course_lesson>td {
        padding: 8px 0px 8px 8px!important;
    }

    /* 03-12-2019 */
}
